<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Hello, world!</title>
</head>

<body>
  <h2>Crime Zero</h2>
  <p>The time is set in a dystopian future when crime is a global issue. Crime Zero Inc. sets up a SMS
service where you type in 0 'space' 'code' to call for a super hero for rescue. </p>
<p> we developed a system that reads your code and translates into possible names of super
heroes so that Crime Zero Inc. can send a distress signal to alarm your savior. <br> The program should map the standard telephone keypad numbers to corresponding letters with the
given set of super hero names. <br> <strong>Example: code for calling HULK is 4855</strong> </p>
  <div class="container mt-4">
    <div class=" btn-group-vertical" role="group">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" value="1">1 <span class="small text-muted d-flex">@.?</span> </button>
        <button type="button" class="btn btn-outline-primary" value="2">2 <span class="small text-muted d-flex">ABC</span> </button>
        <button type="button" class="btn btn-outline-primary" value="3">3 <span class="small text-muted d-flex">DEF</span> </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" value="4">4 <span class="small text-muted d-flex">GHI</span> </button>
        <button type="button" class="btn btn-outline-primary" value="5">5 <span class="small text-muted d-flex">JKL</span> </button>
        <button type="button" class="btn btn-outline-primary" value="6">6 <span class="small text-muted d-flex">MNO</span> </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" value="7">7 <span class="small text-muted d-flex">PQRS</span> </button>
        <button type="button" class="btn btn-outline-primary" value="8">8 <span class="small text-muted d-flex">TUV</span> </button>
        <button type="button" class="btn btn-outline-primary" value="9">9 <span class="small text-muted d-flex">WXYZ</span> </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" onclick="send()" style="border:none">* <span class="sma text-muted d-flex">send</span> </button>
        <button type="button" class="btn btn-outline-primary">0 <span class="sma text-muted d-flex">zero</span> </button>
        <button type="button" class="btn btn-outline-primary" style="border:none"># <span class="sma text-muted d-flex">space</span> </button>
      </div>
    </div>
      <h4 class="mt-5 font-weight-bold" id="result"></h4>
  </div>


  <!-- Optional JavaScript -->
  <script src="/js/main.js" charset="utf-8"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
