body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
  text-align: center;
}

.btn-group .btn {
  font-size: 30px;
  width: 80px;
}

.small {
  font-size: 16px;
  justify-content: center;
}

.sma {
  font-size: 16px;
  justify-content: center;
}
